    <!--Contacto--> 
    <section id="contacto" class="cantacto">

        <div class="container text-center">
           <div class="row">
            <h1 class="titulos">Contacto</h1>
           </div>
        
           <!--Nombre-->
           <div class="row">
              <div class="col-3">
                <i class="fa-sharp fa-solid fa-user fa-3x"></i>
              </div>
              <div class="col-8">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
              </div>
              <div class="col-2"></div>
           </div>
        
           <!--Apellido-->
           <div class="row contacto">
            <div class="col-3">
              <i class="fa-sharp fa-solid fa-user fa-3x"></i>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
            </div>
            <div class="col-2"></div>
           </div>
        
        
         <!--Email-->
         <div class="row contacto">
          <div class="col-3">
            <i class="fa-sharp fa-solid fa-envelope fa-3x"></i>
          </div>
          <div class="col-8">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email">
          </div>
          <div class="col-2"></div>
         </div>
        
         <!--Mensaje-->
         <div class="row contacto">
          <div class="col-3">
            <i class="fa-solid fa-pen-to-square fa-3x"></i>
          </div>
          <div class="col-8">
            <textarea type="ext" class="form-control" id="exampleFormControlInput1" placeholder="Escriba tu mensaje" rows="7"></textarea>
          </div>
          <div class="col-2"></div>
         </div>
        
        
        <!--Boton-->
        <div class="container text-centre">
          <button type="button" class="btn btn-primary btn-lg">Enviar</button>
        </div>
        
        </div>
            
        </section>