.card{
     margin-top: 10rem;
     /*margin-left: 20rem;*/
    height: 20rem;
    width: 100rem;
    margin-left: 1rem;
    margin-right: 1rem;


   background: rgb(2,0,36);
   background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,87,191,1) 0%, rgba(101,38,181,1) 100%);
   background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,87,191,1) 0%, rgba(101,38,181,1) 100%);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,87,191,1) 0%, rgba(101,38,181,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#6526b5",GradientType=1);

}
.pag{
    min-height: 82vh; 
    /*align-items: center;*/
}
  