.fa-sharp.fa-solid.fa-user-secret.fa-2xl:hover{
    color: #d60000;
}

.fa-sharp.fa-solid.fa-user.fa-2xl:hover{
    color: #ff0000;
}
.fa-sharp.fa-solid.fa-user.fa-2xl{
    color: #ffffff;
}

.list-group-item{
   
    margin-left: -60%;
}

.list-group-item{

    background-color: transparent;
    color: #ffffff;
    border-color: transparent;

}