 <!--Experiencia Laboral-->
 <div >
    
  <div class="input-group mb-3">
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="row">
            <div>
                <h1 class="titulos">Experiencia Laboral</h1>
            </div>

  
          <!--Cambiar nombre-->
          <h5 class="descripcion" >Nombre</h5>
          <div class="col-md-10">
            
            <div class="mb-4">
                <input class="form-control" type="text" aria-label="default input example" formControlName="titulo" [(ngModel)]="titulo">
            </div>
          </div>


        </div>
    </form>  
  </div>

</div>