.fa-toolbox.fa-solid.fa-2xl:hover{
    color: #00d6c4;
}

.fa-sharp.fa-solid.fa-user.fa-2xl{
    color: #ffffff;
}

.list-group-item{
    margin-left: -130%;
}

.list-group-item{
    background-color: transparent;
    color: #ffffff;
    border-color: transparent;
}