<div>                
  <div class="input-group mb-3">
    <form [formGroup]="form" (ngSubmit)="onEnviar($event)" >
      <div class="row">
        <div><h1 class="titulos">Hard y soft skills</h1></div>
        <!--Cambiar nombre-->
        <h5 class="descripcion" >Nombre</h5>
        <div class="col-md-10">
          <div class="mb-4">
            <input class="form-control" type="text" aria-label="default input example" formControlName="nombre" [(ngModel)]="nombre">
          </div>
        </div>
        <!--Cambiar porcentaje-->
        <h5 class="descripcion" >Porcentaje</h5>
        <div class="col-md-10">
          <div class="mb-4">
            <input class="form-control" type="number" min="1" max="100" aria-label="default input example" formControlName="numero" [(ngModel)]="numero" >
          </div>
        </div>
        <!--Boton de crear-->
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-success"(click)="onCreate()" >Crear</button>
        </div>
      </div>
    </form>
    <!--Botones para eliminar y editar-->
    <div class="container text-centre A" *ngFor="let skill of skill">
      <div class="row">
        <div class="col-6">
          <h1>{{skill.nombre}}</h1>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-danger" (click)="delete(skill.id)" >Borrar</button>
          <button type="button" class="btn btn-warning" routerLink="skill/{{skill.id}} " >Editar</button>
       </div>
      </div>
    </div>
  </div> 
</div>

