<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
  
                     
    <div class="input-group mb-3">
        <div class="row">
            <div>
                <h1 class="titulos">Sobre mi</h1>
            </div>
          <!--Subir las fotos, about-->
            <h5 class="descripcion" >Foto de perfil</h5>
          <div class="col-md-10">
            
            <div class="input-group">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
         </div>
         <div class="col-md-1">
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
         </div>
         

           <!--Canbiar Foto N˚1-->

           <h5 class="descripcion" >Carrusel</h5>

<div class="row" *ngFor="let progreso of img">
          <div class="col-md-10">
            <div class="input-group">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
         </div>
         <div class="col-md-1">
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
          </div>
         </div>
</div>
           <!--Canbiar Foto N˚2
           <h5 class="descripcion" >Carrusel N˚2</h5>
          <div class="col-md-10">
            <div class="input-group">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
         </div>
           <div class="col-md-1">
            <button type="button" class="btn btn-primary">Guardar</button>
           </div>

           <!--Canbiar Foto N˚3
           <h5 class="descripcion" >Carrusel N˚3</h5>
          <div class="col-md-10">
            <div class="input-group">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
         </div>
           <div class="col-md-1">
            <button type="button" class="btn btn-primary">Guardar</button>
           </div>

           <!--Canbiar Foto N˚4
           <h5 class="descripcion" >Carrusel N˚4</h5>
          <div class="col-md-10">
            <div class="input-group">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
         </div>
           <div class="col-md-1">
            <button type="button" class="btn btn-primary">Guardar</button>
           </div>
          -->

          <!--Cambiar nombre-->


           <h5 class="descripcion" >Nombre</h5>
          <div class="col-md-10">
            
            <div class="mb-3">
                <input class="form-control" type="text" aria-label="default input example">
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
           </div>

          <!--Cambiar bienvenida-->
           <h5 class="descripcion" >Bienvenida</h5>
          <div class="col-md-10">
            
            <div class="mb-3">
                <input class="form-control" type="text" aria-label="default input example">
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
           </div>

         <!--Cambiar sobre mi-->
           <h5 class="descripcion" >Mini info</h5>
          <div class="col-md-10">
            
            <div class="mb-3">
                <input class="form-control" type="text" aria-label="default input example">
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
           </div>

       </div>
          
        </div>
  </div>
