.fa-brands.fa-linkedin-in.fa-2xl{
    color: #ffffff;
}
.fa-brands.fa-linkedin-in.fa-2xl:hover{
    color: #0400ff;
}

.fa-brands.fa-instagram.fa-2xl{
    color: #ffffff;
}

.fa-brands.fa-instagram.fa-2xl:hover{
    color: #f01adb;
}

.fa-brands.fa-github.fa-2xl{
    color: #ffffff;
}

.fa-brands.fa-github.fa-2xl:hover{
    color: #ae22d8;
}

.fa-sharp.fa-solid.fa-user-secret.fa-2xl:hover{
    color: #d60000;
}

.fa-sharp.fa-solid.fa-user.fa-2xl:hover{
    color: #ff0000;
}

.list-group-item{

    background-color: transparent;
    color: #ffffff;
    border-color: transparent;
 

}


ul{
 margin-right: 3rem;
   
}
