<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                      
                      
    <div class="container text-center F">
        <div class="row" *ngFor="let proyectos of proyecto">
            <div>
                <h1 class="titulos">Proyecto N˚{{proyectos.id}}</h1>
            </div>
          <!--Subir las fotos-->
            <h5 class="descripcion" >Foto del proyecto</h5>
          <div class="col-md-10">
            
            <div class="input-group">
                <label class="input-group-text" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control" id="inputGroupFile01">
            </div>
          </div>
           <div class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
           </div>
         

          <!--Cambiar nombre-->
           <h5 class="descripcion" >Nombre</h5>
          <div class="col-md-10">
            
            <div class="mb-3">
                <input class="form-control" type="text" aria-label="default input example">
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
           </div>

          <!--Cambiar descripcion-->
           <h5 class="descripcion" >Descripción</h5>
          <div class="col-md-10">
            
            <div class="mb-3">
                <input class="form-control" type="text" aria-label="default input example">
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
           </div>

         <!--Fecha-->
           <h5 class="descripcion" >Fecha</h5>
          <div class="col-md-10">
            
            <div class="mb-3">
                <input class="form-control" type="text" aria-label="default input example">
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Eliminar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
            </div>
           </div>

        </div>
<!--
       <div class="row">
        <div>
            <h1 class="titulos">Proyecto N˚2</h1>
        </div>
      <!--Subir las fotos, about
        <h5 class="descripcion" >Foto del proyecto</h5>
      <div class="col-md-10">
        
        <div class="input-group">
            <label class="input-group-text" for="inputGroupFile01">Upload</label>
            <input type="file" class="form-control" id="inputGroupFile01">
        </div>
     </div>
       <div class="col-md-1">
        <button type="button" class="btn btn-primary">Guardar</button>
       </div>
     

      <!--Cambiar nombre--
       <h5 class="descripcion" >Nombre</h5>
      <div class="col-md-10">
        
        <div class="mb-3">
            <input class="form-control" type="text" aria-label="default input example">
        </div>
      </div>
       <div class="col-md-1">
        <button type="button" class="btn btn-primary">Guardar</button>
       </div>

      <!--Cambiar descripcion--
       <h5 class="descripcion" >Descripción</h5>
      <div class="col-md-10">
        
        <div class="mb-3">
            <input class="form-control" type="text" aria-label="default input example">
        </div>
      </div>
       <div class="col-md-1">
        <button type="button" class="btn btn-primary">Guardar</button>
       </div>

     <!--Fecha--
       <h5 class="descripcion" >Fecha</h5>
      <div class="col-md-10">
        
        <div class="mb-3">
            <input class="form-control" type="text" aria-label="default input example">
        </div>
      </div>
       <div class="col-md-1">
        <button type="button" class="btn btn-primary">Guardar</button>
       </div>

       </div>-->
          
    </div>

  </div>
