 <!--Experienza labora-->
<section id="trabajo" class="experiencia">
  <div class="container text-center" >
    <div><h1 class="titulos d-flex justify-content-center">Experiencia laboral</h1></div>
    <div class="row d-flex justify-content-center" *ngFor="let expe of experiencias">
      <div class="col-7 mt-2">
        <h3 class="nombre">{{expe.titulo}}</h3>
        <h4 class="descripcion">{{expe.descripcion}} </h4>
        <h6 class="fecha">{{expe.fechai}} ⮕ {{expe.fechaf}} </h6>
      </div>
      <div class="col-3">
        <img [src]="expe.img" class="rounded-circle w-50 img-fluid" alt="foto de perfil" title="foto de perfil">
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>
</section>