 <!--Experienza labora-->
 <section id="trabajo" class="experiencia">
    <div class="container text-center" >
      <div>
        <h1 class="titulos">Experiencia Laboral</h1>
      </div>
      <div class="row" *ngFor="let expe of experiencia">
          
          <div class="col-7 mt-2">
            <h3 class="nombre">{{expe.nombre}}</h3>
            <h4 class="descripcion">{{expe.descripcion}} </h4>
            <h6 class="fecha">{{expe.fecha}}</h6>
          </div>

          <div class="col-3">
            <img src="assets/IMG/{{expe.img}} " class="rounded-circle w-50 img-fluid" alt="foto de perfil" title="foto de perfil">
          </div>

          <div class="col-3">
          </div>
      </div>

      <!--
      <div class="row">
          
          <div class="col-7 mt-2">
            <h3 class="nombre">Nombre de la institución</h3>
            <h4 class="descripcion">descripción. descripción. descripción. descripción. descripción. descripción</h4>
            <h6 class="fecha">Fecha</h6>
          </div>
          <div class="col-3">
            <img src="assets/IMG/61263271-cuenta-de-usuario-perfil-del-icono-del-círculo-plana-para-aplicaciones-y-sitios-web.jpeg" class="rounded-circle w-50 img-fluid" alt="foto de perfil" title="foto de perfil">
          </div>
          <div class="col-3">
          </div>
        </div>-->
      </div>

    </section>