     <!--ESTUDIOS-->
     <section id="educacion" class="estudios">

        <div class="container text-center">
          <div>
          <h1 class="titulos">Estudios</h1>
          </div>
          <div *ngFor="let estudio of estudios">
          <div class="row" >
            <div class="col-3">
              <img src="assets/IMG/{{estudio.img}} " class="rounded-circle w-50 img-fluid" alt="foto de perfil" title="foto de perfil">
            </div>
            <div class="col-7 mt-2">
              <h3 class="nombre">{{estudio.nombre}} </h3>
              <h4 class="descripcion">{{estudio.descripcion}} </h4>
              <h6 class="fecha">{{estudio.fecha}} </h6>
            </div>
            <div class="col-3"></div>
          </div></div>
          
          <!--
          <div class="row">
              <div class="col-3">
                <img src="assets/IMG/61263271-cuenta-de-usuario-perfil-del-icono-del-círculo-plana-para-aplicaciones-y-sitios-web.jpeg" class="rounded-circle w-50 img-fluid" alt="foto de perfil" title="foto de perfil">
              </div>
              <div class="col-7 mt-2">
                <h3 class="nombre">Nombre de la institución</h3>
                <h4 class="descripcion">descripción. descripción. descripción. descripción. descripción. descripción</h4>
                <h6 class="fecha">Fecha</h6>
              </div>
              <div class="col-3"></div>
          </div>
        -->
        </div>
          </section>